.hero {
  --hero-background-image: none;
  --hero-background-color: var(--color-primary);
  --hero-text-color: var(--color-white);

  background-image: var(--hero-background-image, none);
  min-height: 21.5rem;
  padding: 21.5rem 0 3rem;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 48rem;
  background-color: var(--hero-background-color);
  color: var(--hero-text-color);

  @include for-tablet-up {
    min-height: 18.75rem;
    padding-top: 3rem;
    background-size: cover;
  }

  &__content {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @include for-tablet-up {
      width: 50%;
    }
  }

  &__heading {
    font-family: $heading-font;
    color: var(--hero-text-color);
  }

  &__description {
    flex-wrap: pretty;
  }

  &__calls_to_action {
    display: flex;
  }
}