plugins/*
mu-plugins/*
cache
upgrade
uploads
node_modules

.DS_Store

db.php

/themes/theme/.env
/themes/theme/.budfiles
/themes/theme/npm-debug.log
/themes/theme/yarn-error.log
/themes/theme/vendor
/themes/theme/blocks
/themes/theme/node_modules
/themes/theme/assets/dist


/vendor/
