<div class="header--call_to_action">
    <div class="container">
        <a href="{{ header_cta_link }}" class="btn">
            {{ header_cta_text }}
        </a>
        <a href="{{ header_cta_link_two }}" class="btn btn-outline">
            {{ header_cta_text_two }}
        </a>
    </div>
</div>